---
import type { CollectionEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Pagination from "@components/Pagination.astro";
import Card from "@components/Card";
import { SITE } from "@config";

export interface Props {
  currentPage: number;
  totalPages: number;
  paginatedPosts: CollectionEntry<"rednotes">[];
}

const { currentPage, totalPages, paginatedPosts } = Astro.props;
---

<Layout title={`RedNotes | ${SITE.title}`}>
  <Header activeNav="rednotes" />
  <Main
    pageTitle="RedNotes"
    pageDesc="这里的小红书内容与我的小红书保持同步，主要是一些编程知识分享"
  >
    <ul>
      {
        paginatedPosts.map(post => (
          <Card href={`/rednotes/${post.slug}/`} frontmatter={post.data} />
        ))
      }
    </ul>
  </Main>

  <Pagination
    {currentPage}
    {totalPages}
    prevUrl={`/rednotes${currentPage - 1 !== 1 ? "/" + (currentPage - 1) : ""}/`}
    nextUrl={`/rednotes/${currentPage + 1}/`}
  />

  <Footer noMarginTop={totalPages > 1} />
</Layout>
